.banner-principal-decorativo
  &-1
    animation: float2 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: -40%
  &-2
    animation: float1 1.2s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: -15%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 50%
    left: -40%
    

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(20px)
  100%
    transform: translateX(0px)
  
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 275px !important
  
.banner-principal__img
  top: 3rem
  right: 4.5rem

.banner-principal__descripcion
  max-width: 90%
  @media screen and (max-width: 1024px)
    max-width: 72%
  @media screen and (max-width: 390px)
    max-width: 90%

.banner-principal__info
  @media screen and (max-width: 1024px)
    margin-left: 1.3rem


.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.png") !important
 

///FONDO DE TEXTO  
.fondo-text
  background-image: url("../assets/curso/tema1/fondo.png")
  background-repeat: no-repeat
  background-size: cover
  margin-top: -2.5rem
  margin-inline: -3.2rem !important
  padding: 2rem 2rem 1rem 2.5rem
  @media screen and (max-width: 1024px)
    padding: 1rem 2rem 0rem 2.5rem

///CAJA DE NOTAS CON ICON DE ALERTA
.caja-text-img-nota
  background-color: $color-adicional-3
  @media screen and (max-width: 1024px)
    margin-top: 2rem
  p
    align-items: center
    justify-content: center
    padding: 1rem 3rem 1rem 2.5rem
    @media screen and (max-width: 1024px)
      padding: 1rem
    @media screen and (min-width: 1400px)
      padding: 2rem 3rem 2rem 3rem
  img
    position: relative
    left: 35px
.caja-text-img-nota-1
  max-width: 870px
  display: flex
  background-color: $color-adicional-3
  @media screen and (max-width: 1024px)
    margin-top: 2rem
  p
    align-items: center
    justify-content: center
    padding: 2rem 3rem 2rem 4rem
    @media screen and (max-width: 1024px)
      padding: 1rem
    @media screen and (min-width: 1400px)
      padding: 2rem 3rem 2rem 3rem
  img
    position: relative
    left: 35px

/// CAJA TEXTO ICON DE TITULOS TERCER NIVEL
.caja.titulos-terciarios
  position: relative
  display: inline-flex
  align-items: flex-end
  padding-right: 1rem
  padding-left: 0.5rem
  @media screen and (max-width: 1024px)
    padding-left: 1.4rem
  &::before
    content: ""
    position: absolute
    background-color: $color-secundario
    border-radius: 48px
    top: 50%
    bottom: 0%
    left: 0%
    right: 0%
    z-index: 0
    @media screen and (max-width: 390px)
      top: 22%
  h3
    position: relative
    margin: 0rem 0rem 0rem 0rem
    padding: 0.3rem 0.3rem 0.3rem 0.6rem 
  img
    max-width: 100% !important
    position: relative
    bottom: -11px
    left: -5px
    @media screen and (max-width: 1024px)
      bottom: -10px
.ajuste-tablet-movil
  @media screen and (max-width: 390px)
    padding-top: 1.5rem
.ajuste-tablet-movil-1
  @media screen and (max-width: 1024px)
    padding-top: 4rem
  @media screen and (max-width: 390px)
    padding-top: 1.5rem


///FIGURAS
.figura
  position: relative
  left: 20px
  @media screen and (max-width: 1024px)
    left: 0
    margin-top: 2rem
    margin-bottom: -3rem
  img
    width: 100%
    position: relative


///INTRO

/// BLOQUE 2
.bloque-texto-g
  background-color: $color-adicional-1


///TEMA 1

/// BLOQUE 1
.text-tema1-bloque1
  background-color: $color-adicional-5
  margin-top: 1.5rem
  align-content: center
  justify-self: center
  padding: 2rem 3rem 2rem 3rem
  @media screen and (max-width: 1024px)
    padding: 1.5rem
    margin-bottom: 2rem
.text-tema1-bloque1-2
  background-color: $color-adicional-1
  margin-top: 1.5rem
  align-content: center
  justify-self: center
  padding: 1.2rem 3rem 1.2rem 3rem
  @media screen and (max-width: 1024px)
    padding: 1.5rem
.figura-tema1-bloque1
  @media screen and (max-width: 540px)
    margin-top: 4rem !important

///BLOQUE 2
.tabs-b__content-item
  background-color: #FDFAE8
  padding-left: 2rem
  padding-right: 2rem
  p
    padding-right: 2rem
  h4
    padding-top: 5rem
.tabs-b__tab 
  background-color: $color-primario
  &:hover
    background-color: $color-primario
.tabs-b__tab--active
  background-color: #FDFAE8
  &:hover
    background-color: #FDFAE8

///BLOQUE 3

.caja-text-img-tema1-bloque3
  background-color: $color-adicional-5
  padding: 2rem 2rem 0.5rem 2rem
  @media screen and (min-width: 1400px)
    padding: 3rem 3rem 0.5rem 3rem
    h5
      margin-bottom: 2rem

.ajuste-caja__1
  background-color: $color-adicional-5
  padding: 5rem 2rem 4rem 2rem
  @media screen and (min-width: 1400px)
    padding: 8rem 2rem 7rem 2rem

.ajuste-caja__2
  background-color: $color-adicional-5
  padding: 4rem 2rem 2rem 2rem
  @media screen and (min-width: 1400px)
    padding: 5rem 2rem 5rem 2rem

.ajuste-caja__3
  background-color: $color-adicional-5
  padding: 3rem 2rem 2rem 2rem
  @media screen and (min-width: 1400px)
    padding: 4rem 2rem 3rem 2rem



.ajuste-i-color
  padding-top: 0.4rem
  color: $color-acento-contenido

.li-tema1-bloque4
  list-style-type: disc


///BLOQUE 4
.li-tema1-bloque4
  margin-left: 1.5rem
.ajuste-p-bloque4
  padding-bottom: 1rem !important

///BLOQUE 6
.ajuste-i-bloque6
  padding: 0rem 1rem 3rem 1rem
.caja-ajuste-tema1-bloque6
  padding: 5rem 3rem 2rem 3rem

///BLOQUE 7
.caja-ajuste-tema1-bloque7
  padding: 3rem 3rem 2rem 3rem
  @media screen and (min-width: 1400px)
    padding-top: 5rem

///BLOQUE 8
.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordeonA
  position: relative
  background-color: $color-primario
  width: 100%
  left: 0rem
  @media screen and (max-width: 1024px)
    top: 2rem
    width: 100%
    left: initial
  p
    padding-left: 3.5rem
.acordion__activo
  background-color: $color-adicional-3
  p
    padding-left: 3.5rem


///BLOQUE 9
.caja-text-img-tema1-bloque9
  background-color: $color-adicional-6
  padding: 3rem 2rem 1rem 2rem
  @media screen and (max-width: 1024px)
    margin-bottom: 1.5rem
  img
    width: 122px
    margin-bottom: 2rem
.ajuste-1
  padding-bottom: 8.2rem
  @media screen and (max-width: 1024px)
    padding-bottom: 0.5rem
    margin-bottom: 1.5rem
  @media screen and (min-width: 1400px)
    padding-bottom: 5.5rem
.ajuste-2
  padding-bottom: 5.5rem
  @media screen and (max-width: 1024px)
    padding-bottom: 0.4rem
    margin-bottom: 1.5rem
.ajuste-3
  padding-bottom: 5.2rem
  @media screen and (max-width: 1024px)
    padding-bottom: 1rem
  @media screen and (min-width: 1400px)
    padding-bottom: 2.5rem
    



///TEMA 2

/// BLOQUE 1
.caja-text-img-tema2-bloque1
  background-color: $color-adicional-5
  padding: 1rem 2rem 0.2rem 2rem
  @media screen and (max-width: 1024px)
    margin-top: 1rem
  @media screen and (min-width: 1400px)
    padding: 4rem 3rem 4rem 3rem
    h5
      margin-bottom: 2rem

///BLOQUE 4
.caja-text-img-tema2-bloque4
  background-color: $color-adicional-5
  padding: 3rem 2.5rem 2rem 2.5rem
  @media screen and (max-width: 1024px)
    margin-bottom: 1rem
  @media screen and (min-width: 1400px)
    padding: 4rem 3rem 5rem 3rem
    h5
      margin-bottom: 2rem
.ajuste-i-bloque4
  padding: 0rem 3rem 0rem 1rem
  @media screen and (max-width: 390px)
    padding: 0rem
  i
    font-size: 12px
    margin-left: 0.5rem
    color: $color-acento-contenido
    @media screen and (max-width: 1024px)
      margin-left: 1rem
    @media screen and (max-width: 390px)
      margin-left: 0.2rem

.caja-text-img-tema2-bloque4-1
  background-color: $color-adicional-8
  border-radius: 12px
  padding: 2rem
  @media screen and (min-width: 1400px)
    padding-bottom: 3.5rem
.ajuste-bloque4
  padding-bottom: 5rem
.ajuste-tablet
  @media screen and (max-width: 1024px)
    padding-bottom: 3.4rem
.ajuste-bloque4-1
  padding-bottom: 3.5rem
  

///BLOQUE 5
.caja-text-img-tema2-bloque5
  background-color: $color-adicional-5
  padding: 1.5rem 2.5rem 1.5rem 2.5rem
  @media screen and (max-width: 1024px)
    margin-bottom: 1rem
  @media screen and (min-width: 1400px)
    padding: 2.7rem 3rem 3rem 3rem
    h5
      margin-bottom: 2rem

.ajuste-caja-tema2__1
  background-color: $color-adicional-5
  padding: 2rem 2.5rem 1rem 2.5rem
  @media screen and (max-width: 1024px)
    margin-bottom: 1rem
  @media screen and (min-width: 1400px)
    padding: 4.5rem 3rem 3rem 3rem
